.main-header {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: left;
  background-color: #e91e63;
}

.main-header h1 {
  margin-top: 0;
  color: #fce4ec;
}

.myphoto {
  height: 58px;
  width: 58px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 5px;
  float: left;
  margin-right: 18px;
  cursor: default;
}

.myname {
  font-size: 16px;
  color: #ffff00;
}
